.container{
    width: 350px;
    border: 1px solid #838383;
    border-radius: 10px;
    margin: auto;
}
.music-controls{
    display: flex;
    align-items: center;
    justify-content: center;
}
.music-controls i{
    font-size: 30px;
    color: crimson;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
}
#music.image{
    width: 100%;
}
.progress{
    width: 100%;
    margin-bottom: 10px;
}
.progress .times{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.progress .progress-bar{
    width: 100%;
    margin-bottom: 5px;
}