body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    width: 600px;
}

.progress-bar{
    width: 100%;
}
.times, .card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
